    <div class="highlight">
        <section class="content">
            <h2>Contributors</h2>
            <p>Thanks to the following for contributing to the development of these sequences:</p>
            <ul class="contributors clearfix">
                <li><img src="{{ site.baseurl }}/img/elise-roper.jpg" alt=""><span>Dr. Elise Roper</span> MTeach student at Deakin University (Pre-Service Teacher Contributor and Collator)</li>
                <li><img src="{{ site.baseurl }}/img/julie-cooper.jpg" alt=""><span>Dr. Julie Cooper</span> MTeach student at Deakin University (Pre-Service Teacher Contributor and Collator)</li>
                <li><img src="{{ site.baseurl }}/img/megan-munsie.jpg" alt=""><span><a class="new-tab-warning" href="http://www.stemcellsaustralia.edu.au/AboutUs/Our-Staff/Megan-Munsie.aspx" target="_blank">Prof. Megan Munsie</a></span> Policy and Outreach Manager and Head of Education, Ethics, Law &amp; Community Awareness Unit, The University of Melbourne (Stem Cell Scientist)</li>
                <li><img src="{{ site.baseurl }}/img/jo-raphael.jpg" alt="Dr. Jo Raphael"><span><a class="new-tab-warning" href="http://www.deakin.edu.au/profiles/jo-raphael" target="_blank">Dr. Jo Raphael</a></span> Lecturer in Arts and Drama Education at Deakin University (Education Academic and Project Coordinator)</li>
                <li><img src="{{ site.baseurl }}/img/peta-white.jpg" alt="Dr. Peta White"><span><a class="new-tab-warning" href="http://www.deakin.edu.au/profiles/peta-white" target="_blank">Dr. Peta White</a></span> Lecturer in Science and Environmental Education at Deakin University (Education Academic and Project Coordinator)</li>
            </ul>
            <p style="text-align: center; margin-left: auto; margin-right: auto;">Special thanks to <b>Olivia Tan</b> MTeach student at Deakin University (Pre-Service Teacher Contributor)</p>
        </section>
    </div>